@import 'tailwindcss';
@config './tailwind.config.js';
@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  /* container */
  --container-width: 1164px;

  /* spacing */
  --spacing-xs: 4px;
  --spacing-sm: 6px;
  --spacing-md: 8px;
  --spacing-lg: 12px;
  --spacing-xl: 16px;

  /* radii */
  --radius-xs: 4px;
  --radius-sm: 8px;
  --radius-md: 16px;
  --radius-lg: 20px;
  --radius-xl: 24px;
  --radius-xxl: 32px;

  /* colors */
  --color-danger: #ff5656;
  --color-primary-100: #ffffff;
  --color-primary-200: #f6f6f6;
  --color-primary-300: #eeeeee;
  --color-primary-400: #efeff2;
  --color-primary-500: #d4d4d4;
  --color-primary-600: #a8a8a8;
  --color-primary-700: #707070;
  --color-primary-800: #515151;
  --color-primary-900: #262626;
  --color-status-success: #daffef;
  --color-status-warning: #fcecd3;
  --color-status-danger: #ffdddd;

  /* font sizes */
  --font-size-xs: 10px;
  --font-size-sm: 12px;
  --font-size-md: 14px;
  --font-size-lg: 16px;
  --font-size-xl: 18px;

  /* font weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;

  /* line heights */
  --line-height-base: 100%;
  --line-height-sm: 120%;
  --line-height-md: 150%;
  --line-height-lg: 167%;

  /* letter spacing */
  --letter-spacing-sm: -0.02em;
  --letter-spacing-md: -0.01em;
}

.container-custom {
  max-width: var(--container-width);
}
